<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nhri.edu.woundareaapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="nhri.edu.woundareaapp.NcnnApp"
        android:allowBackup="true"
        android:icon="@drawable/nhri_icon_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nhri_icon_square"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity android:name="nhri.edu.woundareaapp.WelcomeActivity"
            android:theme="@style/AppNoTitleTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nhri.edu.woundareaapp.MainActivity"
            android:theme="@style/AppNoTitleTheme" />
    </application>

</manifest>